<!-- <mat-divider></mat-divider>
<mat-toolbar>
  <span class="app-title">Venue Manager</span>
  <span class="spacer"></span>
  

  <button mat-icon-button (click)="openAddVenueDialog()">
    <mat-icon>add_location_alt</mat-icon>
  </button>
  
  
  <button mat-icon-button (click)="toggleCategoryFilter()">
    <mat-icon>filter_list</mat-icon>
  </button>
  

  <button mat-icon-button class="edit-button" [color]="editMode ? 'accent' : ''" (click)="toggleEditMode()">
    <mat-icon>edit</mat-icon>
  </button>
  
  
  <button mat-icon-button [color]="deleteMode ? 'warn' : ''" (click)="toggleDeleteMode()">
    <mat-icon>delete</mat-icon>
  </button>
  

  <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item>Map Settings</button>
    <button mat-menu-item>About</button>
  </mat-menu>
</mat-toolbar> -->

<!-- <mat-card-title>
  <mat-icon>filter_list</mat-icon>
  Filter by Categories
</mat-card-title>
<mat-divider></mat-divider>
  <mat-chip-listbox
    aria-label="Category Filters"
    [(ngModel)]="selectedCategories"
    multiple
    class="chip-container"
  >
  <ng-container *ngFor="let category of categories; trackBy: trackByCategory">
    <mat-chip-option
      [value]="category" 
      (click)="onCategoryChange()">
      {{ category }}
    </mat-chip-option>
  </ng-container>
  </mat-chip-listbox> -->


<mat-card class="map-container">
  <div id="map"></div>
</mat-card>

  
  
