.img-preview-img {
    max-width: 150px;
    max-height: 150px;
}

p {
    color: white;
};

h3 {
    font-size: 0.9rem;
    color: white;
}

form {
    overflow: auto;
}

.drop-zone {
    background-color: aquamarine;
}
